<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Wall Street Club - Tepper School of Business</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script>
		var WSC_Site= angular.module('WSC_Site',[]);

		function main_controller ($scope, $http, $location){
			$scope.page = "placements2";
			$scope.C15 = [
				{name:"Dixon Liang" , ft_firm: "Citi", ft_role: "Sales & Trading", jun_firm: "Citi", jun_role: "Sales & Trading" },
				{name:"Karthik Annaamalai" , ft_firm: "Evercore", ft_role: "Investment Banking", jun_firm: "Evercore", jun_role: "Investment Banking"},
				{name:"John Cusick" , ft_firm: "Citi", ft_role: "Sales & Trading", jun_firm: "Citi", jun_role: "Sales & Trading" },
				{name:"Laavy Kumar" , ft_firm: "Bank of America Merrill Lynch", ft_role: "Investment Banking", jun_firm: "Bank of America Merrill Lynch", jun_role: "Investment Banking"},
				{name:"Anish Singh" , ft_firm: "JP Morgan", ft_role: "Investment Banking", jun_firm: "Jefferies", jun_role: "Investment Banking"},
				{name:"Lawrence Hu" , ft_firm: "Deutsche Bank", ft_role: "Sales & Trading", jun_firm: "Deutsche Bank", jun_role: "Sales & Trading" }
			];
			$scope.C14 = [
				{name:"Jay Shi" , ft_firm: "Jefferies", ft_role: "Investment Banking", jun_firm: "Jefferies", jun_role: "Investment Banking"},
				{name:"Ronny Ho" , ft_firm: "Citi", ft_role: "Capital Markets", jun_firm: "Citi", jun_role: "Capital Markets"},
				{name:"Jisoo Park" , ft_firm: "JP Morgan", ft_role: "Investment Banking", jun_firm: "RBC", jun_role: "Investment Banking"}
			];
			$scope.setPage = function(page_name){
				$scope.page = page_name;
			};
		};

		WSC_Site.controller('main_controller',main_controller);
	</script>
</head>
<body ng-app="WSC_Site" ng-controller="main_controller" class="placements-body">
	<div ng-include src="'menubar.html'"></div>	
	<div class="placements-header"></div>
			<section class="about about-content" id="placements2">
				<div class="container">
					<div class="row col-sm-10 col-sm-offset-1 ">
					<h3>Alumni</h3>
					<hr />
					<p style="line-height: 150%;">
					<ul style="padding: 0px;">
						<li> <b>Class of 2015</b> </li>
							<ul>	
								<div ng-repeat="p in C15">
									<li> {{p.name}} </li>
									<ul>
										<li> Full Time: <i>{{p.ft_firm}}</i> | <i>{{p.ft_role}}</i> </li>
										<li> Junior Summer: <i>{{p.jun_firm}}</i> | <i>{{p.jun_role}}</i> </li>
									</ul>
								</div>  
							</ul>
						<br />
						<li> Class of 2014 </li>
							<ul>	
								<div ng-repeat="p in C14">
									<li> {{p.name}} </li>
									<ul>
										<li> Full Time: <i>{{p.ft_firm}}</i> | <i>{{p.ft_role}}</i> </li>
										<li> Junior Summer: <i>{{p.jun_firm}}</i> | <i>{{p.jun_role}}</i> </li>
									</ul>
								</div>  
							</ul>
						
					</ul>
					</p>
					</div>
				</div>

			<div ng-include src="'footer.html'"></div>	
			</section><!-- end of service section -->
	

	<!-- script tags
	============================================================= -->
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/bootstrap.min.js"></script>
	
</body>
</html>